
<html>
<head>
<link rel=stylesheet type=text/css  href="{{url_for('static', filename='styles.css')}}">
<link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
</head>
<body>

<!-- INSERT YOUR CODE HERE -->
<h1> Edit the name of the course: </h1><br>
<form action='/restaurants/{{restaurant_id}}/{{MenuID}}/edit' method='POST'>
	<input type='text' name='name' placeholder='{{item.name}}'><br>
	<input type='submit' value='Give it a new name!'><br>
	<a href="/restaurants/">Cancel</a>
</form>

</body>

</html>
